* {
  background-color: darksalmon;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

nav ul li {
  display: block;
  text-align: center;
}

article {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

p {
  border: 3px solid black;
  border-width: 0xp;
  margin: 5px;

}

#container {
  display: flex;
  border: 3px solid black;
  border-width: 0xp;
  margin: 5px;
}


table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin-bottom: 1rem;
}

th,
td {
  padding: 0.5rem;
}

input {
  display: block;
  margin-bottom: 2rem;
}

form {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid black;
}

fieldset,
legend {
  margin-bottom: 1rem;
}

fieldset input:last-of-type {
  margin-bottom: 0;
}


.inline-input {
  display: inline;
}

button[type="submit"] {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}